<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>599063883960-v4v3b4n9fgpgm9326rqh2p66f0sbu5fj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.599063883960-v4v3b4n9fgpgm9326rqh2p66f0sbu5fj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>599063883960-5rmqe8u8fsfa6gqegmmsiotqesimr2iu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBVtbe00p7QZAbggrreKz9fgeOI8nhMYEc</string>
	<key>GCM_SENDER_ID</key>
	<string>599063883960</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.the7th.club</string>
	<key>PROJECT_ID</key>
	<string>pc-api-4631338836758036940-624</string>
	<key>STORAGE_BUCKET</key>
	<string>pc-api-4631338836758036940-624.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:599063883960:ios:8f4db85a8cdb221086444d</string>
</dict>
</plist>